html { height: 100% }
body {
#	background: #CDC5BF;
	background: #303030;
#  background-image: url(reticular_tissue/reticular_tissue.png);
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #BDBDBD;
	height: 100%;
	margin: 0;
}

h1 {
    font-size: 35px;
	font-weight: 300;
	text-align: center;
	display: inline-block;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}

h2 {
    font-size: 24px;
}

h3, li.menu {
	font-size: 18px;
}

a {
	color: #000000;
}

ul {
	list-style-type: square;
	margin: 15px 30px 15px 30px;
}

table {
    padding: 50px;
}

td {
    vertical-align: top;
}

div.linked {
    cursor: pointer;
}
ul.menu {
	text-align: center;
}
li.menu {
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
	display: inline;
}
hr {
	display: block;
}

div.center {
	text-align: center;
}
div.page {
	background: #CDC5BF;
	#background: #646D7E;
	margin: auto;
	#border-style: outset;
	width: 80%;
}

div.margin {
	position: relative;
	padding: 15px;
	margin: 0;
}

#contentBox {
	#background: rgba(255, 143, 0, 0.7) #orange;
	background: rgba(20, 143, 119, 0.7);
	color: #303030;
	padding: 15px;
	margin: 0;
	width: 500px;
	#height: 500px;
	position: absolute;
	top: 50px;
	right: 50px;
	text-align: right;
}

.menuItem {
	position: relative;
	padding: 0;
	margin: 0px 0px 10px 0px;
	opacity: 1;
}

.menuItem:hover {
	text-decoration: underline;
	cursor: pointer;
}

.menuBox {
	height: 0px;
	overflow: hidden;
	padding: 0;
	opacity: 1;
}

